/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  padding: 10px;
}

a {
  color: #c0c0c0;
  text-decoration: none;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#all_campus_header {
  display: flex;
  justify-content: center;
}

#all_campus_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3em;
}

.campus_display {
  display: flex;
  margin: 2em;
  background-color: lightblue;
  color: black;
  width: 35em;
}

.campus_display_left {
  margin: 1em;
}

.campus_display_right {
  margin: 1em;
}

.campus_img {
  width: 250px;
  height: 200px;
}

.single_view_display {
  display: flex;
  margin: 2em;
}

.single_view_img {
  width: 425px;
  height: 350px;
}

.single_view_left {
  margin: 1em;
}

.single_view_right {
  margin: 1em;
}

#campus_students_header {
  display: flex;
  justify-content: center;
}

.campus_students_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1em;
}

.campus_student_display {
  width: 10em;
  height: 15em;
  background-color: lightslategray;
  color: black;
  padding: 1em;
}

.campus_student_img {
  width: 100px;
  height: 100px;
}

#all_students_header {
  display: flex;
  justify-content: center;
}

#all_students_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3em;
}

.student_display {
  margin: 2em;
  padding: 1em;
  background-color: lightslategray;
  color: black;
  width: 15em;
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.student_img {
  width: 150px;
  height: 150px;
}

.student_campus_msg {
  display: flex;
  justify-content: center;
}